/* PostsPage.css */

.posts-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 20px; /* Збільшено верхній відступ для кращого розташування */
}

.post {
  margin-top: -20px; /* Збільшено відступ зверху для кожного посту */
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center; /* Вирівнювання по центру */
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Відступ під заголовком */
  word-wrap: break-word;
  color: #333;
}

.post-description {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.post-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px; /* Відступ під зображенням */
}

.post-author {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}
